@import url(https://fonts.googleapis.com/css?family=Lato:100,300);
.donate {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  color: blue !important;
  margin-top: 0.25rem;
}

.game:before, .game:after {
  content: "";
  position: absolute;
  width: 20rem;
  height: 20rem;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  border-radius: 50%;
}

.game:before {
  -webkit-animation: peace-red 5s linear infinite;
          animation: peace-red 5s linear infinite;
}

.game:after {
  -webkit-animation: peace-blue 5s 2.5s linear infinite;
          animation: peace-blue 5s 2.5s linear infinite;
}

.peace {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: calc(50% + 10rem);
  font-family: Lato, sans-serif;
  font-size: 3rem;
  margin-top: 2rem;
  font-weight: 100;
}

@-webkit-keyframes peace-red {
  from {
    transform: rotate(0deg);
  }
  50% {
    box-shadow: 0 2px 8px rgba(255, 0, 0, 0.4);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes peace-red {
  from {
    transform: rotate(0deg);
  }
  50% {
    box-shadow: 0 2px 8px rgba(255, 0, 0, 0.4);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes peace-blue {
  from {
    transform: rotate(0deg);
  }
  50% {
    box-shadow: 0 2px 8px rgba(0, 0, 255, 0.4);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes peace-blue {
  from {
    transform: rotate(0deg);
  }
  50% {
    box-shadow: 0 2px 8px rgba(0, 0, 255, 0.4);
  }
  to {
    transform: rotate(360deg);
  }
}
.eiffel-tower {
  width: 1rem;
  height: 26rem;
  transform: rotate(2deg);
  transform-style: preserve-3d;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}
.eiffel-tower:before, .eiffel-tower:after {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2px;
  background: black;
  bottom: 100%;
  left: calc(50% - 1px);
  transform: rotateY(35deg);
}
.eiffel-tower:after {
  transform: rotateY(135deg);
}
.eiffel-tower > .s {
  top: 0;
}
.eiffel-tower > .s:nth-child(1) {
  transform: rotateY(0deg) translateZ(-0.6666666667rem) translateX(-0.1666666667rem);
}
.eiffel-tower > .s:nth-child(2) {
  transform: rotateY(90deg) translateZ(-0.6666666667rem) translateX(-0.1666666667rem);
}
.eiffel-tower > .s:nth-child(3) {
  transform: rotateY(180deg) translateZ(-0.6666666667rem) translateX(-0.1666666667rem);
}
.eiffel-tower > .s:nth-child(4) {
  transform: rotateY(270deg) translateZ(-0.6666666667rem) translateX(-0.1666666667rem);
}
.eiffel-tower > .s:nth-child(5) {
  transform: rotateY(0deg) translateZ(-0.6666666667rem) translateX(0.1666666667rem);
}
.eiffel-tower > .s:nth-child(6) {
  transform: rotateY(90deg) translateZ(-0.6666666667rem) translateX(0.1666666667rem);
}
.eiffel-tower > .s:nth-child(7) {
  transform: rotateY(180deg) translateZ(-0.6666666667rem) translateX(0.1666666667rem);
}
.eiffel-tower > .s:nth-child(8) {
  transform: rotateY(270deg) translateZ(-0.6666666667rem) translateX(0.1666666667rem);
}
.eiffel-tower > .s .s {
  transform: rotateX(-0.8deg) skewX(-0.8deg);
}
.eiffel-tower > .s:nth-child(n+5) .s {
  transform: rotateX(-0.8deg) skewX(0.8deg);
}

@-webkit-keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.s {
  width: 1rem;
  height: 1rem;
  border: 1px solid black;
  position: absolute;
  top: 100%;
  left: -1px;
  transform-style: preserve-3d;
  background: linear-gradient(45deg, transparent, transparent 45%, black 50%, transparent 55%, transparent), linear-gradient(-45deg, transparent, transparent 45%, black 50%, transparent 55%, transparent), linear-gradient(90deg, transparent, transparent 45%, black 50%, transparent 55%);
}
.s:before, .s:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1rem;
}

.d {
  transform-style: preserve-3d;
  position: absolute;
  height: 4rem;
  width: 4rem;
  left: -1.5rem;
  transform-origin: center center;
  transform: rotateX(90deg) translateZ(-12rem);
}
.d > .d-a, .d > .d-b, .d > .arc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.d > .d-a:before, .d > .d-a:after, .d > .d-b:before, .d > .d-b:after, .d > .arc:before, .d > .arc:after {
  content: "";
  display: block;
  height: 1.5rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top;
  transform: rotateX(90deg);
  border: 1px solid black;
  transform-style: preserve-3d;
  background: repeating-linear-gradient(90deg, transparent, transparent 3%, black 4%), linear-gradient(transparent, transparent 50%, black 51%, black 64%, transparent 65%, transparent 80%, black 81%, transparent 83%), repeating-linear-gradient(45deg, transparent, transparent 6%, black 7%, transparent 8%), repeating-linear-gradient(-45deg, transparent, transparent 6%, black 7%, transparent 8%);
}
.d > .d-a:after, .d > .d-b:after, .d > .arc:after {
  top: 100%;
}
.d + .d {
  height: 7rem;
  width: 7rem;
  left: -3rem;
  transform: rotateX(90deg) translateZ(-16rem);
}
.d > .arc {
  border: none;
}
.d > .arc:before, .d > .arc:after {
  border: none;
  transform: rotateX(-90deg);
  background: radial-gradient(ellipse at bottom center, transparent, transparent 55%, black 56%, transparent 58%, transparent 60%, black 61%, transparent 63%);
}

.d-b, .arc + .arc {
  transform: rotateZ(90deg);
}

.game {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.12;
  min-height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  transform-style: preserve-3d;
  perspective: 1000;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}/*# sourceMappingURL=game.css.map */